*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato' , sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(fondo\ \(2\).png) no-repeat center/cover;
}

#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 80vh;
    max-width: 600px;
    background-color: white;
    border: 4px solid black;
}

h1{
    font-size: 3rem;
    width: 100%;
    margin: 20px 10px;
}

ul{
    width: 100%;
    height: 100%;
}

.marca{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 15px 0;
}

.fondo-azul-oscuro{
    background-color: #03045E;
}

.fondo-gris{
    background-color: #2B2B2B;
}