*{
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

body{
  height: 100vh;
  background-color: #FFFFFF;
  text-align: center;
  flex-direction: column;
  align-items: start;
}

#mitad-de-arriba{
  display: flex;
  height: 50%;
  width: 100%;
  background-color: #FFFFFF;
}

.centrar-flex{
  display: flex;
  justify-content: start;
  align-items: center;
}

#contenedor{
  height: 220px;
  width: 450px;
  background-color: white;
  border: 5px solid black;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  padding: 15px 20px;
  border-radius: 8px;
}

#color{
  font-size: 70px;
  font-weight: bold;
}

button{
  font-size: 30px;
  color: white;
  border-radius: 20px;
  background-color: #008CBA;
  margin: 15px;
  padding: 10px 30px;
  border: 3px solid  #008CBA;
  user-select: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover{
  background-color: #05455A;
}